<!HTDOCS html>
<html>
    <head>
        <style>
            #table {
                text-align: left;
                width: 99%;
            }
            td {
                border: 1px black solid;
            }
            .keys {
                text-align: center;
                font-weight: bold;
            }
            .ids {
                text-align: center;
                cursor: pointer;
                width: 10%;
            }
            .tags, .titles {
                padding-left: 0.6em;
            }
            .tags {
                white-space: nowrap;
                width: 20%;
            }
            .titles {
                height: 2em;
                width: 50%;
            }
            .copied {
                color: green;
            }
        </style>
    </head>
    <body>
        <% if (!user) { %>
            <button onclick="location.href = 'https://ccs.jt3ch.net/auth'">Login</button>
        <% } else { %>
            <h4><a href="/users/@me"><%=`${user.username}#${user.discriminator}`%></a> <button onclick="location.href = 'https://ccs.jt3ch.net/auth/logout'">Logout</button></h4> <button onclick="location.href = 'https://ccs.jt3ch.net/tickets/add'">Add Ticket</button>
        <% } %>
        <input id="search" placeholder="Search" onkeyup="search()">
        <script>
            function search() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }       
                }
            }
        </script>
        <table id="table">
            <tr class="keys">
                <th>ID (Click to Copy)</th>
                <th>Title</th>
                <th>Tags</th>
            </tr>
            <% tickets.forEach(ticket => { %>
                <tr>
                    <td class="ids" onclick="copy(this)"><%=ticket.id%></th>
                    <td class="titles"> <a href="https://ccs.jt3ch.net/tickets/<%=ticket.id%>"><%= ticket.content.title %></a></th>
                    <td class="tags"> <%= ticket.content.tags.join(', ') %> </th>
                </tr>
            <% }) %>
        </table>
        <script>
            function copy(elm) {
                console.log('Copying: ' + elm.innerText)
                window.navigator.clipboard.writeText(elm.innerText)
                elm.classList.add('copied')
                setTimeout(() => {
                    elm.classList.remove('copied')
                }, 1000)
            }
        </script>
    </body>
</html>